/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  background-image: linear-gradient(
    225deg,
    rgba(26, 26, 29, 1) 0%,
    rgba(78, 78, 80, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  color: #ffffff;
  scroll-behavior: smooth;
}

@media (max-width: 960px) {
  html {
    background-image: linear-gradient(
      225deg,
      rgba(26, 26, 29, 0.95) 0%,
      rgba(78, 78, 80, 1) 100%
    );
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bar-menu {
  max-width: 100%;
  transition: .5s;
}

nav {
  background: #1a1a1d;
  height: 80px;
  width: 100%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
}

label .logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 100px;
  font-weight: bold;
}

.logo img {
  position: absolute;
  width: 5rem;
  margin-left: 2rem;
}

@media (max-width: 952px) {
  .logo img {
    position: absolute;
    width: 5rem;
    margin-top: -40px;
    padding-top: 40px;
  }
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,
a:hover {
  color: #c3073f;
  transition: .5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 26, 29, 0.95);
    top: 80px;
    right: -110%;
    text-align: center;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    color: #c3073f;
  }

  #check:checked ~ ul {
    right: -20px;
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.all-content {
  max-width: 100ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1em;
  transition: .5s;
}

.conteiner {
  background: #1a1a1d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: auto;
  height: auto;
  margin-bottom: 2rem;
}

.conteiner-ns {
  background: #1a1a1d;
  margin: auto;
  height: auto;
  margin-bottom: 2rem;
  transition: .5s;
}

.conteiner-ns:hover {
  background: #ffffff;
  transition: .5s;
}

.conteiner-ns:hover h3{
  color: #1a1a1d;
  transition: .5s;
}

.conteiner-3 {
  background: #1a1a1d;
  margin: auto;
  height: auto;
  margin-bottom: 2rem;
  transition: .5s;
}

.conteiner-3:hover {
  background-color: #ffffff;
  transition: .5s;
}


img {
  width: 100%;
  vertical-align: middle;
}

.img-rd {
  background-color: #1a1a1d;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  transition: .5s;
}

.img-rd:hover {
  background-color: #ffffff;
  transition: .5s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.head-content {
  width: 100%;
}

.body-content {
  width: 50%;
  padding: 1.25rem;
}

.p-0 {
  padding: 0;
}

.body-content h2,
.bt-5 h3,
.bt-5 h2 {
  color: #c3073f;
}

.main-head-content {
  margin-bottom: 1em;
}

.bt-5 {
  margin-bottom: 5rem;
  
}

.sm-text {
  font-size: 0.8rem;
}

.ct-item,
.ct-item2 {
  margin: auto;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
  transition: .5s;
}

.ct-item h1 {
  margin-bottom: 3rem;
}

.ct-item2 h1 {
  transition: 0.1s;
  font-size: 2rem;
}

.ct-item h1:hover,
.ct-item2 h1:hover {
  color: #c3073f;
  transition: .5s;
}

.img-content {
  width: 50%;
}

h2,
h3 {
  margin-bottom: 1rem;
  color: #ffffff;
  transition: .5s;
}

.body-content-small {
  width: 25%;
  padding: 1rem;
  text-align: center;
}

.body-content-small-ss {
  background-color: #232327;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 1rem;
  color: #ffffff;
  line-height: 1.25rem;
  transition: .5s;
}

.body-content-small-ss a{
  color: #ffffff;
}


.body-content-small-ss a:hover,
.body-content-small-ss a:active,
.body-content-small-ss:hover {
  background: #ffffff;
  color: #1a1a1d;
  transition: .5s;
}

@media (max-width: 960px) {
  .body-content-small {
    width: 50%;
  }
  .img-content {
    width: 75%;
  }
}

@media (max-width: 720px) {
  .body-content {
    width: 100%;
  }
  .body-content-small {
    width: 100%;
  }
  .img-content {
    width: 100%;
  }
}

.img-gg {
  width: 50%;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-gg2 {
  padding: 10px;
  border-radius: 20px;
}

.mrc-3 {
  padding-left: 2rem;
  text-transform: uppercase;
}

.btn-settingingame {
  background-color: #1a1a1d;
  border-radius: 2px;
  width: 4rem;
  margin: auto;
  margin-top: 1rem;
}

.btn-setting {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.65rem;
}

.backpage {
  width: 6rem;
  text-align: center;
  background-color: #1a1a1d;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.backpage:hover {
  transition: .5s;
  background: #ffffff;
}

.btn-back,
.btn-back h3 {
  color: #c3073f;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem 0;
}

.col-allstar {
  width: 60.001%;
  padding: 0;
}


.col-name {
  width: 40%;
  padding: 1.25rem;
}

.col-name:hover {
  color: #1a1a1d;
  transition: .5s;
}

.col-name h3,
.col-name h2 {
  transition: .5s;
  color: #ffffff;
}

.conteiner-3:hover h3,
.conteiner-3:hover h2,
.conteiner-2:hover h2,
.conteiner-2:hover h3 {
  transition: .5s;
  color: #1a1a1d;
}

.col-name h1 {
  color: #c3073f;
  margin-bottom: 5rem;
}

.col-name {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.head-content img {
  width: 100%;
  vertical-align: middle;
}

@media (max-width: 960px) {
  .col-name {
    width: 30%;
  }
  .col-allstar {
    width: 70%;
  }
}

@media (max-width: 840px) {
  .col-name h1 {
    margin-bottom: 5rem;
  }
}

@media (max-width: 709px) {
  .col-name {
    padding-left: 3rem;
    width: 100%;
    background: url(img/game_teams/r6_op.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .col-allstar img {
    display: none;
  }
  .col-name:hover {
    background: url(img/game_teams/r6_op.jpg) center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .col-name:hover h3,
  .col-name:hover h2 {
    transition: .5s;
    color: #ffffff;
  }
  .col-name h1 {
    margin-bottom: 2rem;
  }
}

.events-game{
  color: #c3073f;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.date-Tour {
  color: #c3073f;
}

.member-contact {
  font-size: 2rem;
  text-align: center;
}

.member-contact i {
  padding: 0.3rem;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-youtube {
  color: #ff0000;
}

.spacing-text {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  color: #c3073f;
}

.spacing-text b{
  color: #ffffff;
}

.spacing-text p{
  padding-bottom: 1rem;
  text-decoration: uppercase;
}


/* Footer */
footer {
  background: #1a1a1d;
  width: 100%;
  color: #ffffff;
  margin-top: 20rem;
  font-size: 1rem;
  padding: 2rem;
  clear: both;
  min-height: calc(40vh);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.container-footer {
  margin: 2.5rem;
}

footer a {
  color: #ffffff;
}

footer h4 {
  margin-bottom: 2rem;
}

footer p {
  margin-top: 2em;
  margin-bottom: 1rem;
}

footer img {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
}

.col-footer {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
}

.col-footer p {
  color: #c3073f;
}

.col-footer2 {
  width: 16.66%;
  height: auto;
}

@media (max-width: 1340px) {
  .col-footer {
    width: 100%;
    margin-bottom: 4rem;
  }
  .col-footer2 {
    width: 33.33%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 960px) {
  .col-footer2 {
    width: 50%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 840px) {
  .col-footer {
    width: 100%;
    margin-bottom: 4rem;
  }
  .col-footer2 {
    width: 100%;
    margin-bottom: 3rem;
  }
  .col-footer img {
    margin-right: 100%;
    margin-bottom: 1rem;
  }
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #1a1a1d;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(49vh - 85px);
  left: calc(49vw - 85px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid #ffffff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}
@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
